*{margin: 0; padding: 0}
input, button {outline:none;}

@font-face {
  font-family: 'Abel';
  src: url('./fonts/Abel-Regular.ttf');
}

.body {
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;

  font-family: 'Abel';
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.header__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.header__logo-img {
  background-color: #D8D8D8;
}

.header__nav {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  width: 154px;
  height: 31px;
  cursor: pointer;
}

.header__nav-item {
  background: #D8D8D8;
}

.nav-item:hover {
  border-bottom: 2px solid #787878;
}

.section {
  height: 450px;
  background-color: #D8D8D8;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section__wrap {
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
}

.section__about {
  display: flex;
  flex-direction: column;
}

.section__about-title {
  font-size: 60px;
}

.section__about-desc {
  font-size: 36px;
}

.section__button {
  width: 100%;
  display: flex;
  padding: 0 25px 0 0;
}

.button-all {
   border: none;
   width: 283px;
   height: 60px;
   font-size: 26px;

   margin: 0 25px 0 0;
   outline: none;

   cursor: pointer;
 }

.button-all:hover {
  box-shadow: 0 8px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.01);
}

.section__button-white {
  background-color: #FFFFFF;
  color: #000000;

}

.section__button-black {
  background-color: #000000;
  color: #FFFFFF;

}
